In [1]:
import pandas as pd
df=pd.read_csv('LMRi_ab_test_synthetic_dataset1.csv')
df

      user_id group  converted
0           1     A          0
1           2     A          1
2           3     A          0
3           4     A          0
4           5     A          0
...       ...   ...        ...
4995     4996     A          0
4996     4997     A          0
4997     4998     A          0
4998     4999     A          0
4999     5000     A          0

[5000 rows x 3 columns]

In [2]:
group_count=df['group'].value_counts()
conversions=df[df['converted']==1]['group'].value_counts()
conversion_rate=(conversions/group_count)*100
print("Conversion Rate:")
print(conversion_rate)

Conversion Rate:
group
A    23.499006
B    38.873239
Name: count, dtype: float64

In [4]:
total_conversions=df['converted'].sum()
total_users=len(df)
pooled_conversion_rate=(total_conversions/total_users)*100
print("Pooled Conversion Rate")
print(pooled_conversion_rate)

Pooled Conversion Rate
31.14

In [5]:
import pandas as pd
df=pd.read_csv('LMRi_ab_test_synthetic_dataset2.csv')
df

       user_id       brand  clicked
0            1  ChillCream        0
1            2  FrostyBite        0
2            3  ChillCream        0
3            4  ChillCream        0
4            5  ChillCream        0
...        ...         ...      ...
19995    19996  ChillCream        1
19996    19997  ChillCream        0
19997    19998  ChillCream        0
19998    19999  FrostyBite        0
19999    20000  ChillCream        0

[20000 rows x 3 columns]

In [6]:
group_count=df['brand'].value_counts()
conversions=df[df['clicked']==1]['brand'].value_counts()
conversion_rate=(conversions/group_count)*100
print("Conversion Rate:")
print(conversion_rate)

Conversion Rate:
brand
ChillCream    20.019960
FrostyBite    26.082164
Name: count, dtype: float64

In [7]:
total_conversions=df['clicked'].sum()
total_users=len(df)
pooled_conversion_rate=(total_conversions/total_users)*100
print("Pooled Conversion Rate")
print(pooled_conversion_rate)

Pooled Conversion Rate
23.044999999999998